
/code/sim/csrc
code/sim/final_sim.fsdb
code/sim/novas_dump.log
code/sim/signal.rc
code/sim/sim_Graphic.log
/code/sim/simv.daidir
*.key
code/sim/simv
/mesh/others
.venv
.vs
/code/SW/mesh
/code/SW/TP
/code/SW/TPOLD
/code/SW/TP_FIND
